columns_to_use: ['target', 'TaxaDeUtilizacaoDeLinhasNaoGarantidas', 'Idade',
       'NumeroDeVezes30-59DiasAtrasoNaoPior', 'TaxaDeEndividamento',
       'RendaMensal', 'NumeroDeLinhasDeCreditoEEmprestimosAbertos',
       'NumeroDeVezes90DiasAtraso', 'NumeroDeEmprestimosOuLinhasImobiliarias',
       'NumeroDeVezes60-89DiasAtrasoNaoPior', 'NumeroDeDependentes']

train_dataset_name: 'train.csv'
test_dataset_name: 'test.csv'

target_name: 'target' 

test_size: 0.33
random_state: 42
vars_imputer: ['RendaMensal', 'NumeroDeDependentes']
variables_discretizer: ['TaxaDeUtilizacaoDeLinhasNaoGarantidas', 'TaxaDeEndividamento', 'RendaMensal']

model_path: '../models/modelo.joblib'

cross_val_metric: 'roc_auc'